@keyframes move-right-leg {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(10deg); }
    100% { transform: rotate(0deg); }
  }
  
  @keyframes move-left-leg {
    0% { transform: rotate(0deg); }
    50% { transform: rotate(-10deg); }
    100% { transform: rotate(0deg); }
  }
  
  .right-leg {
    animation: move-right-leg 2s infinite linear;
  }
  
  .left-leg {
    animation: move-left-leg 1.8s infinite linear; 
  }
  