*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
ol,ul{
   list-style: none;  
}
a{
   text-decoration: none;
}
.block{
   width: 1280px;
   height: 500px;
   background: url('../images/brooke-lark-08bOYnH_r_E-unsplash\ 1.svg')no-repeat right;

}
h1{
   position: relative;
   left: 55px;
   top: 125px;
}
p{
   position: relative;
   left: 55px;
   top: 190px;

}
.btn{
   width: 200px;
   height: 45px;
   background: #FF8126;
   position: relative;
   left: 61px;
   top: 260px;
}
.btn a{
   font-size: 18px;
   color: white;
   padding: 10px 47px;
   text-transform: capitalize;
   display: block;
}