*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
ol,ul{
   list-style: none;  
}
a{
   text-decoration: none;
}
.container{
   max-width: 1110px;
   margin: 0 auto;
}
.menu{
   margin: 0;

}
.menu-item{
   display: inline-block;
   margin: 20px; 
}
.menu li a{
   color: #000;

}
.head-section{
padding-top: 171px;
}
.head-section h1{
 font-size: 50px;
 margin-bottom: 40px;
}
.head-section p{
   padding-bottom: 20px;
}
.btn{
   width: 220px;
   height: 55px;
   background: #34547A;
}

.btn a{
  font-size: 35px;
   color: white;
}
.about-me{
   text-align: center;
   margin: 0;
   padding-top: 200px;
}
.about-me p{
   padding-bottom: 20px;
}

.projects{
   background: #34547A;
}
.projects-item{
text-align: center;
margin: 0;
padding: 50px;
}

.how-i-work{
   text-align: center;
   margin: 0;
   padding-top:  200px;
}
.how-i-work p{
   padding-top: 10px;
}
.how-i-work img{
   margin-top: 30px;
}

.footer{
   background: #34547A;
}
.footer p{
color: white;
}
